body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.nav {
  font-size: 18px;
}

a:link {
color: white;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
}
